<?xml version="1.0"?>
<config>
    <modules>
        <RetentionScience_Waves>
            <version>3.0.3</version>
        </RetentionScience_Waves>
    </modules>
    <global>
        <helpers>
            <waves>
                <class>RetentionScience_Waves_Helper</class>
            </waves>
        </helpers>
        <models>
            <waves>
                <class>RetentionScience_Waves_Model</class>
            </waves>
        </models>
        <blocks>
            <waves>
                <class>RetentionScience_Waves_Block</class>
            </waves>
        </blocks>
        <events>
            <waves_init_export>
                <observers>
                    <waves_perform_export_observer>
                        <type>singleton</type>
                        <class>RetentionScience_Waves_Model_Observer</class>
                        <method>performExport</method>
                    </waves_perform_export_observer>
                </observers>
            </waves_init_export>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <waves>
                    <file>waves.xml</file>
                </waves>
            </updates>
        </layout>
        <routers>
            <waves>
                <use>standard</use>
                <args>
                    <module>RetentionScience_Waves_Frontend</module>
                    <frontName>waves</frontName>
                </args>
            </waves>
        </routers>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <waves_order_success>
                        <class>waves/observer_default</class>
                        <method>setWavesOnOrderSuccessPageView</method>
                    </waves_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <waves_order_success>
                        <class>waves/observer_default</class>
                        <method>setWavesOnOrderSuccessPageView</method>
                    </waves_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <RetentionScience_Waves after="Mage_Adminhtml">RetentionScience_Waves_Adminhtml</RetentionScience_Waves>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <waves_system_config_save>
                        <type>singleton</type>
                        <class>waves/configfieldlistener</class>
                        <method>logParameters</method>
                    </waves_system_config_save>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <retentionscience_waves_syncdata>
                <run>
                    <model>waves/cron::export</model>
                </run>
            </retentionscience_waves_syncdata>
        </jobs>
    </crontab>
    <default>
        <waves>
            <rs_sync_settings>
                <sync_data_cron>0 2 * * *</sync_data_cron>
            </rs_sync_settings>
            <rs_sync_advanced>
                <rs_use_bulk_compression>1</rs_use_bulk_compression>
            </rs_sync_advanced>
        </waves>
    </default>
</config>
